{% extends 'blog/base.html' %}

{% block content %}
<style>
    .head-bar,.form-box{
        width: 30%;
    }
    #save-btn{
        margin-top:2rem ;
    }
     @media (max-width: 941px) {

      .head-bar,
      .form-box {
        width: 100%;
      }
    }
</style>

<div class="head-bar">
<h3>Forgot password</h3>
<a href="javascript:history.go(-1)"><i class="fa fa-arrow-left"></i></a>
</div>
<div class="form-box">
<form method="post">
    <p>Enter your email here </p>
    {% csrf_token %}
    {{ form.as_p }}
    <button id="save-btn" type="submit">Submit</button>
</form>
</div>
{% endblock %}