{% extends 'blog/base.html' %}
{%block title%}Password-reset-done{%endblock%}
{% block content %}
<style>
    .form-box{
        width: 50%;
    }
    @media (max-width: 941px) {
        .head-bar,.form-box  {
            width: 100%;
        }
        p{
            line-height: 2;
        }

      }
</style>
<div class="form-box">
    <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
    </p>
    <br>
    <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </p>
</div>

{% endblock %}